  #map {
        height: 600px;
        width: 800px;

       }
    .column {
        margin-left: 100px;
        margin-top: 50px;
    }

       .left {
      margin-left: 100px;
    }

    .right {
      margin-left: 100px;
    }

    ul.list {
        width: 200px;
        height: 300px;
        overflow: auto;
    }

    #listItem {

    #ssd {

        color: blue;
        margin-top: 200px;
    }

    }

    p {
       color: blue;
    }