#map {
        height: 600px;
        width: 800px;
        margin-bottom: 100px;

       }


       .left {
      margin-left: 50px;
    }

    .right {
      margin-left: 40px;
    }

    ul.list {
        width: 300px;
        height: 500px;
        overflow: auto;
        margin-right: 50px;

    }


#listItem {

    cursor: pointer;
}


    #clubTitle {

        color: blue;
        margin-top: 50px;

    }

    p {
       color: blue;
    }

    h1 {
            background: #7593c4;
            color: white;
            font-family: "Trebuchet MS";
       }

    img {

        width: 100%;

    }

    .content {
        max-width: 1200px;
        margin: auto;
        background: white;

     }

    #content-dimension {
        margin-bottom: 30px;
    }

    .space-bottom {
         height: 100%;
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         padding: 0px;
     }