
    h1 {
            background: #7593c4;
            color: white;
            font-family: "Trebuchet MS";
            font-size: 30px;
            padding-top: 25px;
            text-indent: 30px;
            line-height: 1.5;
       }



    .space-bottom {
         background-image: url(../images/divesitelist.jpg);
         height: 100%;
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         padding: 0px;
     }


     .table-container {
         background-color: white;
     }

    #content-dimension {
        height: calc(100vh - 94px);
    }

    .cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
        font-size: 20px;
        color: #54838c;
    }
