    h1 {
            background: #7593c4;
            color: white;
            font-family: "Trebuchet MS";
            font-size: 30px;
            padding-top: 20px;
            text-indent: 30px;
            line-height: 1.5;
       }

     .space-bottom {
         background-image: url(../images/divesitelist.jpg);
         height: 100%;
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         padding: 0px;
     }


     .content {
        max-width: 950px;
        margin: auto;
        background: white;
        margin-bottom: 50px;

     }

     .content-display{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px
     }

    img {
        width: 100%;
    }

    .avg-rating{
        margin: 10px;
    }

    .review{
        margin-bottom: 30px;
    }

    .add-my-list{
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .overall-reviews{

    }

    .border{
        border-style: dotted;
        border-color: #7b7b9a;
        margin: 10px;
        padding: 10px;
    }

    .image{

    }

    .location{
        margin-bottom: 30px;
    }

    .description{

    }

    .cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
        font-size: 25px;
        color: cadetblue;
    }

    .btn-primary {
        color: #fff;
        background-color: #32648c;
        border-color: #4b5054;
    }

