    h1 {
            background: #7593c4;
            color: white;
            font-family: "Trebuchet MS";
            font-size: 30px;
            padding-top:10px;
            text-indent: 30px;
            line-height: 1.5;
       }

     .space-bottom {
         background-image: url(../images/divesitelist.jpg);
         height: 100%;
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         padding: 0px;
     }


     .content {
        max-width: 930px;
        margin: auto;
        background: white;

     }

    #content-dimension {
        height: calc(100vh - 94px);
    }

    img {
        width: 100%;
    }

    .rating{
        position: relative;
        left: 10px;
        bottom: 10px;
        height: 0px;
    }

    .image{
        position: relative;
        top: 30px;
        left: 10px;
        width: 50%;
        height: 0px;
    }

    .location{
        position: relative;
        top: 250px;
        left: 10px;
        bottom: 10px;
        height: 0px;
    }

    .description{
        position: relative;
        top: 30px;
        left: 500px;
        width: 400px;
        height: 100px;
    }