h1 {
    background: #7593c4;
    color: white;
    font-family: "Trebuchet MS";
    font-size: 30px;
    padding-top:10px;
    text-indent: 50px;
    line-height: 1.5;
    margin-top: 10px;
}

h4 {
    text-align: left;
}

ul.a {
    list-style-type: circle;
}