<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
	<head>
		<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
					<meta name="description" content="">
						<meta name="author" content="">
							<title>
								ScotDives
								{% block title_block %}
								Website
								{% endblock %}
							</title>
							<!-- CSS -->
							<link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
								<link href="http://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

									<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
										<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
										<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


									</head>

									<body>

										<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
											<button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse"
													data-target="#navbar"
													aria-controls="navbar"
													aria-expanded="false"
													aria-label="Toggle navigation">
												<span class="navbar-toggler-icon"></span>
											</button>
											<a class="navbar-brand" href="{% url 'index' %}">ScotDives</a>

											<div class="collapse navbar-collapse" id="navbar">
												<ul class="navbar-nav mr-auto">
													<li class="nav-item active">
														<a class="nav-link" href="{% url 'index' %}">
															Home
														</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href="{% url 'divemap' %}">
															Dive Map
														</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href="{% url 'divesites' %}">
															Dive Sites
														</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href="{% url 'clubmap' %}">
															Find a Club
														</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href="{% url 'photogallery' %}">
															Photo Gallery
														</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href="{% url 'search' %}">
															Search
														</a>
													</li>
												</ul>
											</div>
										</nav>

										<div class="container"> 
											{% block content %}{% endblock %} 
										</div> 
										
										<div class="space-bottom">
											{% block body_block %}
											{% endblock %}
										</div>

										<div>
											{% block sidebar_block %}
											{% endblock %}
										</div>

										<hr />
										
										<div>										
													<u1>
														<li><a href="{% url 'contact' %}">Contact Us</a></li>
														<li><a href="{% url 'sitemap' %}">Site Map</a></li>
													</u1>
										</div>
										
										
										</body>
</html>