{% extends 'scotDives/base.html' %}
{% load staticfiles %}

{% block body_block %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/contact.css' %}" />
</head>

<link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css"
    rel="stylesheet">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/contact.css' %}" />
</head>
<div class="jumbotron">
    <h2 class="display-3">Contact Us</h2>

<p>If you would like to get in touch, please use the following email address:</p>
<p>Email: <a href="mailto:scotdives@mail.com">scotdives@mail.com</a></p>

{% endblock %}
