{% extends 'scotDives/base.html' %}
{% load staticfiles %}

{% block title_block %}
    ScotDives
{% endblock %}

{% block body_block %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/divemap.css' %}" />
</head>

<div>
    <img src="{% static "images/IMG_0002.JPG" %}" alt="Picture of scotland" width="1100" height="400"/>
</div>
        <h1>
            Dive Map
        </h1>
    <div class="content" id = "content-dimension">
        <div id="map"></div>
    </div>
    <script>
      function initMap() {
        var uluru = {lat: 56.279647, lng: -2.592236};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: {lat: 56.279647, lng: -2.592236}
        });

        var infowindow = new google.maps.InfoWindow();
        {% if all_diveSpots %}
            {% for divespot in all_diveSpots %}
             var contentString = '<b>{{ divespot.name }}</b></br> ' + '{{ divespot.latitude }}, {{ divespot.longitude }}</br>'   + 'Rating: {{ divespot.rating }}</br>' + ' <a href="{% url 'show_site' divespot.slug %}">See more info</a>'


             var marker = new google.maps.Marker({
                position: {lat: {{ divespot.latitude }}, lng: {{ divespot.longitude }}},
                map: map,
	            title: '{{ divespot.name }}',
                 url: '{{ divespot.link }}',
                 contentBox: contentString
            });

	        google.maps.event.addListener(marker, 'click', function() {
                 infowindow.setContent(this.contentBox);
                 infowindow.open(map, this);
            });
            {% endfor %}
        {% endif %}
      }

    </script>


    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSUTagss3J4yDnZKDpKpLsKBFQyOwADYo&callback=initMap">
    </script>


{% endblock %}