{% extends 'scotDives/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ divesite.name }}
{% endblock %}

{% block body_block %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/divesite.css' %}" />

</head>
<div class="content" id = "content-dimension">
    {% if divesite %}
        <h1>
            {{ divesite.name }}
        </h1>

        <div class="space-topbottom">
            <strong>Rating: </strong>
            {{ divesite.rating }}
        </div>

        <div>

        <img src="{% static divesite.image %}"
                 alt="Picture of the Dive Site" />
        </div>

        <div class="space-topbottom">
            <strong>Description: </strong>
            {{ divesite.description }}
        </div>

        <div class="space-topbottom">
            <strong>Latitude: </strong>
            {{ divesite.latitude }}
        </div>

        <div class="space-topbottom">
            <strong>Longitude: </strong>
            {{ divesite.longitude }}
        </div>

    {% else %}
        <strong>Information on the selected dive site is currently unavailable.</strong>
    {% endif %}
</div>

{% endblock %}