{% extends 'scotDives/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ divesite.name }}
{% endblock %}

{% block body_block %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/divesite.css' %}" />
</head>
<div class="content">
    {% if divesite %}
        <h1>
            {{ divesite.name }}
        </h1>
        <div class="content-display">
            <div class="avg-rating">
                <div class="row">
                    <div class="col-md-2">
                        <div id = "avg-rating"></div>
                    </div>
                    <div class="col-md-2">
                        <strong>{{ reviews.count }} ratings</strong>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class ="col-md-12 image">
                            <img src="{% static divesite.image %}"
                                 alt="Picture of the Dive Site" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 location">
                            <strong>Lat. & Long: </strong>
                            {{ divesite.latitude }} {{ divesite.longitude }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 add-my-list">
                            <button class="btn btn-primary" id="add-my-list">Add to My Dive List</button>
                        </div>
                    </div>

                    <div class="row">
                        {% if user.is_authenticated %}
                            <div class="col-md-12 review">
                                <div>Write Comment & Rate {{ divesite.name }}</div>
                                {% csrf_token %}
                                <textarea name="comment" id="comment" cols="50"></textarea>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div data-score = "{{ user_rating }}" id = "user-rating"></div>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-primary" id="comment-submit">Submit</button>
                                    </div>
                                </div>
                            </div>

                        {% else %}
                            <div class="col-md-12 review">
                                <strong>Please login to rate this dive site.</strong>
                            </div>
                        {% endif %}
                    </div>

                    <div class="row">
                        <div class="col-md-12 overall-reviews">
                            <strong>Member Comments & Ratings </strong>
                            {% if reviews %}
                                {% for review in reviews %}
                                    <div class="border">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <strong>{{ review.user.first_name }}  {{ review.user.last_name }}</strong>
                                            </div>
                                            <div class="col-md-6">
                                                <div data-score = "{{ review.rating }}" class = "all-reviews"></div>
                                            </div>
                                        </div>
                                        <div>{{ review.comment }}</div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div>No reviews have been posted yet.</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 description">
                                <strong>Description: </strong>
                                {{ divesite.description|linebreaks }}
                                <p>For tide times, please visit <a href="http://www.bbc.co.uk/weather/coast_and_sea/tide_tables/7" target="_blank">BBC Tide Tables</a> </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 alert alert-success" id="alert-success" style="display:none"></div>
                    </div>

                </div>
            </div>
        </div>

    {% else %}
        <strong>Information on the selected dive site is currently unavailable.</strong>
    {% endif %}

</div>

{% endblock %}

{% block script_block %}
<script>
    $('#avg-rating').raty({
        starType: 'i',
        readOnly: true,
        score: {{ divesite.rating }}
    });

    $('.all-reviews').raty({
        starType: 'i',
        readOnly: true,
    });

    $('#user-rating').raty({
        starType: 'i',
        click: function(score, evt){
            $.ajax({
                url: "{% url 'review' %}",
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    divesite_id: "{{ divesite.id }}",
                    rating: score,
                },
                success: function(response){
                    console.log(response.avg_rating);
                    $('#avg-rating').raty('set', {'score': response.avg_rating});
                }
            })
         }
    });

    $("#comment-submit").click(function(){
        $.ajax({
            url: "{% url 'review' %}",
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    divesite_id: "{{ divesite.id }}",
                    comment: $("#comment").val(),
                },
                success: function(response){
                    location.reload()
                }
        })
    })

    $("#add-my-list").click(function(){
        $.ajax({
            url: "{% url 'add_my_list' %}",
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    divesite_id: "{{ divesite.id }}",
                },
                success: function(response){
                    $("#alert-success").html("Successfully Added to Future Dive List");
                    $("#alert-success").show();
                    setTimeout(function(){
                        $("#alert-success").hide();
                    }, 1000)

                }
        })
    })

</script>
{% endblock %}
