{% extends 'scotDives/base.html' %}
{% load staticfiles %}

{% block title_block %}
    ScotDives
{% endblock %}

{% block body_block %}
        <h1>
            Welcome to ScotDives!
        </h1>





        <div class="space-topbottom">
            <strong>About</strong>
        </div>

        <div class="space-topbottom">
            <strong>Top Rated Dives</strong>
        </div>

        <div class="space-topbottom">
            <strong>Top Rated Dives</strong>
        </div>

{% endblock %}