{% extends 'scotDives/base.html' %}
{% load staticfiles %}

{% block title %}{{ selecteduser.username }} Profile{% endblock %}
{% block body_block %}
<link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/profile.css' %}" />
<div class="jumbotron">
<h1>{{selecteduser.username}}'s Profile</h1>
<div>
	<h4> My Future Dives List</h4>
	<ul class="a">
		<li>This</li>
  		<li>Will</li>
  		<li>Be</li>
  		<li>Difficult</li>
	</ul>
</div>
<img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
     width="300"
     height="300"
     alt="{{selecteduser.username}}" />
<br/>
<div>
	{% if selecteduser.username == user.username %}
	<form method="post" action="." enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Update" />
	</form>
	{% endif %}
</div>
{% endblock %}