{% extends 'scotDives/base.html' %}
{% load staticfiles %}
{% block body_block %}
<link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css"
    rel="stylesheet">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/search.css' %}" />
</head>
<div class="jumbotron">
    <h2 class="display-3">Search</h2>

<form method='GET' action=''>
    <input type='text' name='q' placeholder='Search pages' value='{{ request.GET.query }}'/>
    <input type='submit' class="btn btn-primary btn-sm" value='Search' />
</form>
<div class="content" id = "content-dimension">
    {% if divesites %}
        <u1>
            {% for divesite in divesites %}
                <li>
                    <ul>
                        <a href="{% url 'show_site' divesite.slug %}">{{ divesite.name }}</a>
                        {{ divesite.rating }}
                    </ul>
                </li>
            {% endfor %}
        </u1>
    {% else %}
        <strong>No dive sites to display</strong>
    {% endif %}
    </div>
{% endblock %}