{% extends 'scotDives/base.html' %}
{% load staticfiles %}

{% block body_block %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/sitemap.css' %}" />
  <link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css"
    rel="stylesheet">
</head>
<div class="jumbotron">

        <h1>Site Map for ScotDives</h1>
        <div>
            <img src="{% static "images/sitemap.jpg" %}"
                 alt="Picture of the ScotDives Site Map" />
        </div>
{% endblock %}